* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  background-color: black;
  color: white;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 10px;
}

button {
  height: 50px;
  width: 50px;
  border: 0px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.displayScreen {
  height: 100px;
  width: auto;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
}

.btn-number
{
   background-color: grey;
   color: white;
   
}

.orange-btn{
 background-color: #FCAE1E;
 color: white;
 font-size: 30px;
}
.divide{
   font-size: 30px;
}

button.double{
   width: 115px;
   border-radius: 20px;
   text-align: left;
   padding-left: 20px;
}


