* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --element-color: white;

  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --element-color: hsl(209, 23%, 22%);
}

.container {
  margin: 40px 100px;
}

.header-container {
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: var(--element-color);
}

.heading {
  background-color: var(--element-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

a {
  text-decoration-line: none;
  color: inherit;
}

#mode {
  cursor: pointer;
}

.backButton {
  margin-bottom: 60px;
}

main {
  display: flex;
  flex-direction: row;
}

#backBtn {
  padding: 10px 20px;
  text-decoration-line: none;
  cursor: pointer;
  background-color: var(--element-color);
  color:var(--text-color);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 8px;
}

#backBtn:hover {
  color: white;
  background-color: black;
}

img {
  object-fit: cover;
  height: 350px;
  width: 500px;
  border: 1px solid black;
}

.left {
  margin-right: 100px;
}

.cName {
  font-size: 30px;
  font-weight: 700;
}

.country-details {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.border-country {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.border-a {
  padding: 10px 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration-line: none;
  cursor: pointer;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
