* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
}

h3 {
  color: white;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

form {
  display: flex;
}
#search-area {
  display: flex;
  justify-content: center;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  padding: 10px;
  border-radius: 25px;
  background-color: white;
  margin-right: 20px;
}

i {
  font-size: 30px;
}

input {
  display: flex;
  flex: 1;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  padding-inline: 10px;
}

#search-button {
  font-size: 20px;
  width: 80px;
  border-radius: 25px;
  background-color: blue;
  color: white;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(16, 47, 120);
}

.last-section {
  display: flex;
  justify-content: center;
}

#show-more {
  font-size: 20px;
  width: 150px;
  border-radius: 25px;
  background-color: #dfd0b8;
  color: black;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 50px;
  display: none;
  padding: 10px;
}

#content-area {
  max-width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

#content-area img {
  width: 100% !important;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    display: inline-block;
  }

  #search-button {
    margin-block: 20px;
    margin-inline: 170px;
  }

  #content-area {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  #content-area img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
}
