*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(158, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}


.text{
  color: white;
}

.minute{
  font-size: 40px;
}

.sec{
  font-size: 30px;
}

.msec{
  font-size: 20px;
}

.button-wrapper{
  width: 250px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  background-color: black;
}

.button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.laps{
  list-style: none;
  color: white;
  margin-top: 30px;
  font-size: 25px;
  height: 300px;
  width: 250px;
  overflow: auto;
  position: relative;
  padding: 5px;
}

.laps::-webkit-scrollbar{
  display: none;
}

.lap-items{
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  margin-bottom: 10px;
}
.lap-number{
  color: burlywood;
}

.lap-time{
  color: aquamarine;
  display: inline-block;
  margin-left: 25px;
}

.lap-clear{
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  padding: 15px 0;
  border-radius: 50px;
  border: 1px solid red;
  background-color: red;
  color: white;
  font-size: 15px;
}

.lap-clear:hover{
  background-color: white;
  color: red;
  cursor: pointer;
  border: 1px solid white;
}

.hidden{
  visibility: hidden;
}