* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: F5EEDC;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.output {
  background-color: #f6f1de;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
  position: relative;
  text-align: left;
}

.output label {
  font-size: 1rem;
  position: absolute;
  left: 10px;
  top: -10px;
  background-color: #8ab2a6;
  padding: 0.25rem;
}
